<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lspa.mapper.HotelMapper">
	<insert id="insert" parameterType="Hotel">
		insert into t_hotels(city,lat,lon,hotelName,address,description,isDeleted) 
		values(#{city},#{lat},#{lon},#{hotelName},#{address},#{description},0);
	</insert>
	
	<select id="select" parameterType="Hotel" resultType="Hotel">
		select * from t_hotels
		where isDeleted = false
			<if test="id!=null"> and id=#{id}</if>
			<if test="lat!=null">and lat=#{lat}</if>
			<if test="lon!=null">and lon=#{lon}</if>
			<if test="hotelName!=null">and hotelName=#{hotelName}</if>
			<if test="address!=null">and address=#{address}</if>
			<if test="description!=null">and description=#{description}</if>
	</select>
</mapper>