<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    
    <typeAliases>
        <package name="lspa.top.pojo"/>
    </typeAliases>
    
    <!-- 分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper"></plugin>
    </plugins>
    
    <mappers>
        <package name="lspa.top.mapper"/>
    </mappers>

</configuration>